back_end/netify/venv
back_end/netify/Pipfile
**__pycache__
back_end/netify/.serverless
back_end/netify/node_modules
back_end/netify/.requirements
front_end/node_modules
front_end/package-lock.json
front_end/build
front_end/logs
front_end/.idea
